@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #200a4c;
}
li, a, button, h3 {
font-family: "Inter";
font-weight: 400;
font-size: 16px;
color: rgb(255, 255, 255);
text-decoration: none;

}

header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
}
.logo{
    width: 150px;
    height: 100%;
    cursor: pointer;
}
.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #bb14e3;
}
button{
    padding: 20px 35px;
    background: linear-gradient(to right, #1520e3 , #bb14e3);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 30px rgba(187, 20, 227, 0.6);

}
button:hover {
    background-position: right center;
    
}
.getintouch{
    font-family: "Inter";
    font-weight: 300;
}
