@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(187, 20, 227, 0.5);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 20, 227, 0.5);
  
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Inter";
}
body {
  display: fixed;
  background-color: #200a4c;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
}
nav ul {
  float: left;
}
nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 24px 14px;
  color: white;
  font-weight: 300;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #bb14e3;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(1rem);
  border-radius: 10px 10px 10px 10px;
}

li.has-dropdown:hover {
  background: rgba(255, 255, 255, 1);
  /* backdrop-filter: blur(1rem); */
  border-radius: 10px 10px 0px 0px;
}

li.has-dropdown:hover > a {
  color: #bb14e3;
}

nav ul li ul {
  display: block;
  position: absolute;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 0px 10px 10px 10px;
  visibility: hidden;
}
nav ul li:hover ul {
  visibility: visible;
}

nav ul li ul li {
  width: 280px;
  padding: 10px;
}
nav ul li ul li a {
  padding: 8px 14px;
}
nav ul li ul li a:hover {
  background-color: white;
  border-radius: 10px;
}

.logo {
  width: 170px;
  height: 100%;
  cursor: pointer;
}
.arrowdown {
  display: flex;
  margin-top: 30%;
  margin-left: 3px;
  position: absolute;
  border: solid rgb(255, 255, 255);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1;
}

button {
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 41px;
  background: linear-gradient(to right, #1520e3, #bb14e3, #1520e3);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-size: 200%;
  box-shadow: 0px 0px 30px rgba(187, 20, 227, 0.5);
  transition: 0.6s;
}
button:hover {
  background-position: right;
}
.getintouch {
  font-family: "Inter";
  font-weight: 300;
}
.wrapper {
  position: static;
  margin: 0;
  padding: 0;
  height: 270px;
  width: auto;
  background-image: url(../images/background-section1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.section1 {
  display: flex;
  justify-content: center;
}

.secondarytext {
  font-weight: 400;
  color: white;
  font-size: 1.2vw;
  text-align: center;
  padding: 20px;
  z-index: 2;
}
.maintextwhite {
  color: white;
  font-size: 2.8vw;
  font-weight: 800;
  text-align: center;
  z-index: 2;
}
.mobilephone {
  width: 33vw;
  height: auto;
  align-items: center;
  margin-left: 2.5vw;
}
section.section1 {
  height: 90vh;
}

.circles1left {
  position: absolute;
  width: 300px;
  margin: 100px 0px 0px -800px;
  opacity: 0.6;
}
.circles2right {
  position: absolute;
  width: 300px;
  margin: 300px 0px 0px 800px;
  opacity: 0.8;
  transform: rotate(175deg);
}
.circles3right {
  position: absolute;
  width: 100px;
  margin: 10px -40px -40px 670px;
  opacity: 0.5;
}
.circles4right {
  display: flex;
  position: absolute;
  width: 100px;
  margin: -90px -40px -40px -590px;
  opacity: 0.3;
  z-index: -1;
}
.circles5right {
  position: absolute;
  width: 150px;
  margin: 500px -40px -40px 270px;
  opacity: 0.3;
  z-index: -1;
  transform: rotate(15deg);
}
.circles6right {
  position: absolute;
  width: 250px;
  margin: 950px -40px -40px 770px;
  opacity: 0.7;
  z-index: -1;
  transform: rotate(-70deg);
}
.circles7left {
  position: absolute;
  width: 450px;
  margin: 1450px -40px -40px 970px;
  opacity: 0.4;
  z-index: -1;
  transform: rotate(-160deg);
}
.circles8left {
  position: absolute;
  width: 350px;
  margin: 1450px -40px -40px -650px;
  opacity: 0.4;
  z-index: -1;
  transform: rotate(30deg);
}
.particlesCSS {
  position: absolute;
  margin: -250px 50px 0 0;
  width: 100%;
  height: 650px;
  z-index: -2;
}

.section2 {
  height: 90vh;
}
.primarytext-sc2 {
  font-weight: 300;
  color: white;
  font-size: 1.2vw;
  text-align: center;
}
.secondarytext-sc2 {
  font-weight: 800;
  color: white;
  font-size: 2.2vw;
  text-align: center;
}
.allcards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  padding-top: 20px;
}

.container .card {
  position: relative;
  width: 321px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(105, 32, 250, 0.05),
    inset -5px -5px 5px rgba(51, 16, 122, 0.5),
    5px 5px 5px rgba(105, 32, 250, 0.05), -5px -5px 5px rgba(51, 16, 122, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2b1867;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(187, 20, 227, 0.3);
  background: linear-gradient(45deg, #1520e3, #bb14e3);
}
.container .card .box .content {
  padding: 20px;
  text-align: center;
}
.container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.03);
  transition: 0.5s;
  pointer-events: none;
}
.container .card:hover .box .content h2 {
  color: rgba(0, 0, 0, 0.05);
}
.container .card .box .content h3 {
  font-weight: 800;
  font-size: 1.5em;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  padding: 15px;
}
.container .card:hover .box .content h3,
.container .card:hover .box .content p {
  color: white;
}
.container .card .box .content p {
  font-size: 1em;
  font-weight: 300;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container .card .box .content a {
  background: #bb14e3;
}
.section3 {
  height: 90vh;
}
.content-section3 {
  display: flex;
  justify-content: space-around;
}
.title-section3 h1 {
  font-size: 4.5vh;
  font-weight: 600;
}
.title-section3 {
  padding-bottom: 16px;
}
.text-section3 {
  align-items: center;
  color: white;
}
.list-section3 {
  list-style-type: none;
  align-content: space-between;
}
.list-section3 li {
  margin-top: 30px;
  margin-bottom: 30px;
}
.computer {
  margin-top: -125px;
  margin-left: -540px;
  position: relative;
  width: 90vh;
}
.text-center {
  text-align: center;
  color: white;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background-color: #200a4c;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  .logo {
    margin-left: -35px;
    width: 15%;
  }

  .section1 {
    display: flex;
    justify-content: center;
  }
  button {
    margin-right: -40px;
    font-weight: 400;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 25px;
    background: linear-gradient(to right, #1520e3, #bb14e3, #1520e3);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-size: 200%;
    box-shadow: 0px 0px 30px rgba(187, 20, 227, 0.5);
    transition: 0.6s;
  }
  button:hover {
    background-position: right;
  }

  .mobilephone {
    width: 75%;
  }
  .wrapper {
    height: 38vw;
    width: 100%;
    background-image: url(../images/background-section1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .circles1left {
    position: absolute;
    width: 200px;
    margin: 100px 0px 0px -300px;
    opacity: 0.6;
    z-index: -1;
  }
  .circles2right {
    position: absolute;
    width: 200px;
    margin: 100px 0px 0px 400px;
    opacity: 0.8;
    transform: rotate(175deg);
  }
  .circles3right {
    position: absolute;
    width: 100px;
    margin: 10px -40px -40px 670px;
    opacity: 0.5;
  }
  .circles4right {
    display: flex;
    position: absolute;
    width: 100px;
    margin: -90px -40px -40px -590px;
    opacity: 0.3;
    z-index: -1;
  }
  .circles5right {
    position: absolute;
    width: 150px;
    margin: 500px -40px -40px 270px;
    opacity: 0.3;
    z-index: -1;
    transform: rotate(15deg);
  }

  .secondarytext {
    font-weight: 400;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    padding: 20px;
    z-index: 2;
  }
  .maintextwhite {
    color: white;
    font-size: 2.8vw;
    font-weight: 800;
    text-align: center;
    z-index: 2;
  }
  .mobilephone {
    width: 33.3vw;
    height: auto;
  }
  .section2 {
    height: 90vh;
  }
  .primarytext-sc2 {
    margin-top: -550px;
    font-weight: 300;
    color: white;
    font-size: 1.2vw;
    text-align: center;
  }
  .secondarytext-sc2 {
    font-weight: 800;
    color: white;
    font-size: 2.2vw;
    text-align: center;
  }
  .allcards {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    display: flex;
    padding-top: 20px;
  }
  
  .container .card {
    position: relative;
    width: 321px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(105, 32, 250, 0.05),
      inset -5px -5px 5px rgba(51, 16, 122, 0.5),
      5px 5px 5px rgba(105, 32, 250, 0.05), -5px -5px 5px rgba(51, 16, 122, 0.5);
    border-radius: 15px;
    margin: 30px;
  }
  .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2b1867;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .container .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(187, 20, 227, 0.3);
    background: linear-gradient(45deg, #1520e3, #bb14e3);
  }
  .container .card .box .content {
    padding: 20px;
    text-align: center;
  }
  .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.03);
    transition: 0.5s;
    pointer-events: none;
  }
  .container .card:hover .box .content h2 {
    color: rgba(0, 0, 0, 0.05);
  }
  .container .card .box .content h3 {
    font-weight: 800;
    font-size: 1.5em;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    padding: 15px;
  }
  .container .card:hover .box .content h3,
  .container .card:hover .box .content p {
    color: white;
  }
  .container .card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
  }
  .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .container .card .box .content a {
    background: #bb14e3;
  }
  .section3 {
    height: 90vh;
  }
  .content-section3 {
    display: flex;
    justify-content: space-around;
  }
  .title-section3 h1 {
    font-size: 4.5vh;
    font-weight: 600;
  }
  .title-section3 {
    padding-bottom: 16px;
  }
  .text-section3 {
    align-items: center;
    color: white;
  }
  .list-section3 {
    list-style-type: none;
    align-content: space-between;
  }
  .list-section3 li {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .computer {
    margin-top: -125px;
    margin-left: -540px;
    position: relative;
    width: 90vh;
  }
  .text-center {
    text-align: center;
    color: white;
  }
  
}

@media only screen and (min-device-width: 400px) and (max-device-width: 767px) {
  body {
    background-color: #200a4c;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .logo {
    margin-left: -35px;
    width: 15%;
  }

  .section1 {
    display: flex;
  }
  button {
    margin-right: -40px;
    font-weight: 400;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 25px;
    background: linear-gradient(to right, #1520e3, #bb14e3, #1520e3);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-size: 200%;
    box-shadow: 0px 0px 30px rgba(187, 20, 227, 0.5);
    transition: 0.6s;
  }
  button:hover {
    background-position: right;
  }

  .mobilephone {
    width: 75%;
  }
  .wrapper {
    height: 38vw;
    width: 100%;
    background-image: url(../images/background-section1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .circles1left {
    position: absolute;
    width: 200px;
    margin: 100px 0px 0px -300px;
    opacity: 0.6;
    z-index: -1;
  }
  .circles2right {
    position: absolute;
    width: 200px;
    margin: 100px 0px 0px 400px;
    opacity: 0.8;
    transform: rotate(175deg);
  }
  .circles3right {
    position: absolute;
    width: 100px;
    margin: 10px -40px -40px 670px;
    opacity: 0.5;
  }
  .circles4right {
    display: flex;
    position: absolute;
    width: 100px;
    margin: -90px -40px -40px -590px;
    opacity: 0.3;
    z-index: -1;
  }
  .circles5right {
    position: absolute;
    width: 150px;
    margin: 500px -40px -40px 270px;
    opacity: 0.3;
    z-index: -1;
    transform: rotate(15deg);
  }
  .secondarytext {
    font-weight: 400;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    padding: 20px;
    z-index: 2;
  }
  .maintextwhite {
    color: white;
    font-size: 2.8vw;
    font-weight: 800;
    text-align: center;
    z-index: 2;
  }
  .mobilephone {
    width: 33.3vw;
    height: auto;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {


}
